{
  "extends": "airbnb-base",
  "rules": {
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "strict": "off",
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["ctx"] }]
  }
}
